@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Use this page to detail your site's privacy policy.</p>

    <p>
        Lorem ipsum dolor sit amet. Ut perspiciatis dolore est totam maxime sit consequatur consequatur ut voluptate error. Aut distinctio quam ad quas rerum ut quia dolor rem blanditiis reprehenderit ut libero aliquid eos velit dolor. Qui debitis omnis et magni obcaecati vel sapiente autem ut incidunt possimus eum similique galisum ut doloremque dolor.
    </p>
    <p>
        Quo ducimus incidunt eos totam explicabo et delectus dolore non tempore perspiciatis qui fugit quasi ex quod quis qui quisquam eveniet. At magnam consectetur ea cupiditate molestias eum quam nemo At atque enim. Cum delectus libero aut quasi quas sit dolor aliquam et nostrum praesentium. Est sint consequatur qui facilis fuga ad enim eaque.
    </p>
    <p>
        Non dolores obcaecati non quae quae aut autem adipisci qui consectetur dignissimos est totam velit in necessitatibus necessitatibus qui consequatur mollitia. Aut placeat recusandae et dolores iure qui similique fugiat aut dolor enim et asperiores iure. Aut iusto magnam et velit recusandae eos culpa similique ut consequuntur dolore 33 quod officiis At aperiam corporis est neque tempore? Et voluptas similique aut facere dolorum non ipsum mollitia est omnis culpa aut nihil illum.
    </p>
    <p>
        Lorem ipsum dolor sit amet. Ut perspiciatis dolore est totam maxime sit consequatur consequatur ut voluptate error. Aut distinctio quam ad quas rerum ut quia dolor rem blanditiis reprehenderit ut libero aliquid eos velit dolor. Qui debitis omnis et magni obcaecati vel sapiente autem ut incidunt possimus eum similique galisum ut doloremque dolor.
    </p>
    <p>
        Quo ducimus incidunt eos totam explicabo et delectus dolore non tempore perspiciatis qui fugit quasi ex quod quis qui quisquam eveniet. At magnam consectetur ea cupiditate molestias eum quam nemo At atque enim. Cum delectus libero aut quasi quas sit dolor aliquam et nostrum praesentium. Est sint consequatur qui facilis fuga ad enim eaque.
    </p>
</div>
